<!DOCTYPE html>
	<html>
		<header>
		</header>
		<body>
			<h1>Your Contacts!</h1>
			<ul>
			<% @contacts.each do |contact| %>
  				<li><%= contact.first_name %> <%= contact.last_name %></li>
			<% end %>
			</ul>
		</body>
	</html>