<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet"
  <title></title>
  </head>
  <body>
    <%= yield %>
    <!-- BootStrap jquery shit -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html