<!DOCTYPE html>
<html>
  <head>

    <!-- <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navlinks">
        <li><a href="/"><%= @crm_app_name %></a></li>
        <li><a href="/contacts">View All Contacts</a></li>
        <li><a href="/contacts/new">Add a Contact</a></li>
      </ul>   
    </nav>
  <%= yield %>
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>

    <!-- BootStrap jquery shit -->
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html